@model Traditeo.ViewModel.PurchaseManagement.Purchases

@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.date').datepicker({dateFormat: "mm/dd/yyyy"});
    });
</script>*@

<link href="~/Scripts/SlickGrid/lib/qunit.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/SlickGrid/slick.grid.css" rel="stylesheet" type="text/css"/>
<link href="~/Scripts/SlickGrid/smoothness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />


<script src="~/Scripts/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js"></script>
<script src="~/Scripts/SlickGrid/lib/jquery.event.drag-2.2.js"></script>
<script src="~/Scripts/SlickGrid/lib/jquery.simulate.js"></script>
<script src="~/Scripts/SlickGrid/lib/qunit.js"></script>
<script src="~/Scripts/SlickGrid/plugins/slick.rowselectionmodel.js"></script>

<script src="~/Scripts/SlickGrid/slick.core.js"></script>
<script src="~/Scripts/SlickGrid/slick.dataview.js"></script>
<script src="~/Scripts/SlickGrid/slick.grid.js"></script>
<script src="~/Scripts/SlickGrid/slick.editors.js"></script>
<script src="~/Scripts/PurchaseManagement/Purchase.js"></script>

@*<script src="~/Scripts/Lookups/Items.js"></script>*@

<script type="text/javascript">
    var branchID = '@Model.BranchID';
    var transactionItemJson = '@Model.TransactionItemJson';
    var transactionLedgerJson = '@Model.TransactionLedgerJson';
</script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset class="fieldset">
        <legend>Purchase</legend>
        @Html.HiddenFor(model => model.PurchaseID)

        <div class="datacontrol">
            <span class="datacontrollabel">
                @Html.LabelFor(model => model.PurchaseNumber)
            </span>
            @Html.EditorFor(model => model.PurchaseNumber)
            @Html.ValidationMessageFor(model => model.PurchaseNumber)
        </div>
        <div class="datacontrol">
            <span class="datacontrollabel">
                @Html.LabelFor(model => model.PurchaseDate)
            </span>
            @Html.EditorFor(model => model.PurchaseDate)
            @Html.ValidationMessageFor(model => model.PurchaseDate)
        </div>
        <div class="datacontrol">
            <span class="datacontrollabel">
                @Html.LabelFor(model => model.BranchID)
            </span>
            @Html.DropDownListFor(model => model.BranchID, (IEnumerable<SelectListItem>)ViewBag.BranchSelectList, "--Select--")
            @Html.ValidationMessageFor(model => model.BranchID)
        </div>
        <div class="datacontrol">
            <span class="datacontrollabel">
                @Html.LabelFor(model => model.VendorID)
            </span>
            @Html.DropDownListFor(model => model.VendorID, (IEnumerable<SelectListItem>)ViewBag.VendorSelectList, "--Select--")
            @Html.ValidationMessageFor(model => model.VendorID)
        </div>
        <div class="datacontrol">
            <span class="datacontrollabel">
                @Html.LabelFor(model => model.PaymentTermID)
            </span>
            @Html.DropDownListFor(model => model.VendorID, (IEnumerable<SelectListItem>)ViewBag.PaymentTermSelectList, "--Select--")
            @Html.ValidationMessageFor(model => model.PaymentTermID)
        </div>
        <div class="datacontrol">
            <span class="datacontrollabel">
                @Html.LabelFor(model => model.DueDate)
            </span>
            @Html.EditorFor(model => model.DueDate)
            @Html.ValidationMessageFor(model => model.DueDate)
        </div>
        <div class="datacontrol">
            <span class="datacontrollabel">
                @Html.LabelFor(model => model.ReferenceNumber)
            </span>
            @Html.EditorFor(model => model.ReferenceNumber)
            @Html.ValidationMessageFor(model => model.ReferenceNumber)
        </div>
        <div class="datacontrol">
            <span class="datacontrollabel">
                @Html.LabelFor(model => model.ReferenceNumber)
            </span>
            @Html.EditorFor(model => model.ReferenceNumber)
            @Html.ValidationMessageFor(model => model.ReferenceNumber)
        </div>
        <div class="datacontrol">
            <span class="datacontrollabel">
                @Html.LabelFor(model => model.PurchaseAuthorityID)
            </span>
            @Html.DropDownListFor(model => model.VendorID, (IEnumerable<SelectListItem>)ViewBag.PurchaseAuthoritySelectList, "--Select--")
            @Html.ValidationMessageFor(model => model.PurchaseAuthorityID)
        </div>
        <div class="datacontrol Remarks">
            <span class="datacontrollabel">
                @Html.LabelFor(model => model.Remarks)
            </span>
            @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "inputRemark" } })
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>
        
    </fieldset>
    <div id="TransactionGrid" style="width: 99%; height: 300px; margin: 5px;"></div>
    <div id="LookupDiv" style="display: none"></div>
}
